*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color:  #8CC461;
    color: white;
}

/* HEADER */

header{
    width: 50rem;
    height: 9.9rem;
    border:3px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-top: 3rem;
}
.heading{
    width: 30%;
    height: 90%;
    margin-top: 3px;
    margin-left: 10px;
      
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;

}
.scoreBlock{
    width: 40%;
    height: 90%;
    margin-top: 8px;
    margin-right: 8px;
    display: flex;
    text-align: center;
    justify-content:space-between ;
    color: black !important;
}
.Score{
    background-color: white; 
    width: 45%;
    border-radius: 10px;
}
.Score p{
    margin-top: 10px;
    color: #656565 ;

    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
}
.scoreCount{
    width: 100%;
    height: 60%;
    margin: auto;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreCount p{
    margin-left: 10px;
    color: black;
    
    font-family: Roboto;
    font-size: 80px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: center;
}

/* body */

.option{
    margin: auto;
    margin-top: 5%;
    width: 22rem;
    height: 19rem;
    position: relative;
}
.option .line{
    background-color:  #000000A3;
    width: 10rem;
    height: 1.5rem;
    position: absolute;
}
.line1{
    top: 14%;
    left: 28%;
}
.line2{
    top: 50%;
    left: 8%;
    transform:rotate(55deg)
}
.line3{
    top: 50%;
    left: 42%;
    transform:rotate(-55deg)
}
.option .image{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 0px 21px 1px #00000033 inset;
}
.rock{
    border: 16px solid  #0074B6;
    position: absolute;
}
.paper{
    border: 16px solid  #FFA943;
    position: absolute;
    bottom: 0;
    left: 33%;
}
.scissor{
    border: 16px solid  #BD00FF;
    position: absolute;
    right: 0;
}

/* RESULT */

.result{
    margin: auto;
    margin-top: 5%;
    width: 60vw;
    height: 22rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.youSelected, .pcSelected{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.youSelected p, .pcSelected p{
    margin-bottom: 50px;
}

.selected{
    background-color: white;
    width: 8.75rem;
    height: 8.75rem;
    border: 16px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 1px 62px 0px #a49d9d21;
}


.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment .head{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0.1em;
    text-align: center;

}
.comment p{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 20px;

}
.playAgain1,.playAgain2{
    width: 174px;
    height: 44px;
    border-radius: 9px;
    text-align: center;
    margin-top: 20px;
    border:2px solid white;
    color:  #6B6B6B;
    background-color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bordercolor{
    position: absolute;
}
.border1{
    border:1rem solid #2E9A2563;
    width: 16.75rem;
    height: 16.75rem;
    border-radius: 50%;
    position: absolute;
}
.border2{
    border: 1rem solid #1DA82BC9;
    width: 14.75rem;
    height: 14.75rem;
    border-radius: 50%;
    position: absolute;
}
.border3{
    border:2rem solid #3B6720;
    width: 12.75rem;
    height: 12.75rem;
    border-radius: 50%;
    position: absolute;
}
.Iwon{
    top: 76px;
    left: 11px;
}
.Pcwon{
    top: 76px;
    right: 275px;

}


/* RULES */
.closebar{
    position: fixed;
    
    top: 277px;
    right: 40px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 5px solid white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: Dangrek;
    font-size: 2rem;
    font-weight: 400;
    line-height: 79px;
}
ul {list-style: none}

ul li::before{
    color: #FFD600;
    content: "\25AA";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.rules{
    position: fixed;
    top: 300px;
    right: 64px;
    width: 18rem;
    height: 19rem;
    border-radius: 13px;
    border: 7px solid white;
    background-color: #004429;

}

.rules h1{
    margin-top: 14px;


    font-family: Roboto;
    font-size: 29px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}
ul{
    width: 80%;
    height: 80%;
    margin-left: 35px;
}
li{
    margin-top: 15px;
    

    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;

}
/* BUTTONS */
.buttons{
    display: flex;
    justify-content: end;
    width: 14.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 30px;
    right: 40px;
}
.rButton,.nButton{
    
    border:2px solid white;
    border-radius: 10px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: left;

}
.rButton{
    margin-right: 30px;
}

/* winning */
.win{
    width: 35%;
    height: 550px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;   
}
.Image{
    width: 90%;
    height: 60%;
    position: relative;
    margin: auto;
}

.S1,.S2,.S3,.S4,.S5,.S6,.S7,.S8,.Vector{
    position: absolute;
}
.Vector{
    bottom: 0;
    left: 30%;
}
.S1{
    top: 36%;
}
.S2{
    top:5%;
    left: 63%;
}
.S3{
    left:18%;
    top:15%;
}
.S4{
    bottom: 6%;
    left:22%;
}
.S5{
    left: 28%;
}
.S6{
    bottom: 8%;
    right: 0;
}
.S7{
    top: 25%;
    left: 43%;
}
.S8{
    top: 35%;
    right: 8%;
}
.hurry{

    font-family: Roboto;
    font-size: 91px;
    font-weight: 600;
    line-height: 107px;
    letter-spacing: 0.1em;
    text-align: center;
}
.gameWon{
    font-family: Roboto;
    font-size: 41px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.1em;
    text-align: center;
}
.playAgain2{
    margin: auto;
    margin-top: 50px;
}

/* Display */


.result,.win,.bordercolor,.nButton,.title1,.gameRules,.option1{
    display: none;
}
.result1,.gameRules1,.nButton1{
    display: flex;
}
.win1,.bordercolor1{
    display: block;
}

